<div class="form-group" [formGroup]="group">        
    <label for="roles">Regras</label>     
        <!-- <p-dropdown [options]="roles" [(ngModel)]="selectedRole" (onChange)="createNodes()" placeholder="Selecione..."></p-dropdown> -->
    <select id="roles" class="form-control" (change)="createNodes()" formControlName="roles" [(ngModel)]="selectedRole" name="roles" placeholder="Selecione...">
            <option value=""></option>
            <option *ngFor="let m of roles" value="{{ m.id }}">{{ m.nome }}</option>
    </select>
    <control-messages [control]="group.controls.roles"></control-messages> 
    
    <br>
    <div>
        <app-generic-tree-view-checks
        [nodes] = "nodes" 
        [selectedNodes] = "selectedNodes"  
        (getNodesSelected) = "setNodesSelected($event)"     
        >          
        </app-generic-tree-view-checks>     
    </div>    
</div> 