<form #f="ngForm" (ngSubmit)="submit()" novalidate>  
   <br> 
  <p-panel >
    <p-header style="font-size: 18px">
        <b>Permissão</b>    
    </p-header>  
    <br>  
    <div class="form-group">
        <label for="permissionParent">Permissão raiz</label>
        <input id="permissionParent" class="form-control" name="permissionParent" disabled="true" type="text" [(ngModel)]="permissionParent">
    </div>  
    <div class="form-group">
        <label for="nome">Nome</label>
        <input id="nome" class="form-control" name="nome" type="text" [(ngModel)]="permission.nome" required>
    </div>
    <div class="form-group">
        <label for="description">Descrição</label>
        <input id="description" class="form-control" name="description" type="text" [(ngModel)]="permission.description" >
    </div>
    <div class="form-group">
        <label for="path">Caminho</label>
        <input id="path" class="form-control" name="path" type="text" [(ngModel)]="permission.path" required>
    </div>   
    <div class="form-group">
        <label for="creationDate">Data de Criação</label>
        <input id="creationDate" class="form-control" name="creationDate" type="text" [(ngModel)]="permission.creationDate">
    </div>
    <label for="active">
      <input type="radio" name="active" id="active" [value]="true"  [(ngModel)]="permission.active">Sim
    </label>
    <label for="naoAtivo">
      <input type="radio" name="active" id="naoAtivo" [value]="false" [(ngModel)]="permission.active">Não
    </label>        
    <br><br>
    <button pButton  label="Salvar" icon="fa-floppy-o" iconPos="left" [disabled]="!f.valid"></button>
  </p-panel>
</form>     
