 <div class="modal-content">
  <div class="modal-header" style="background-color: #e9fcd4;border-bottom: ridge">
    <h4 class="modal-title">{{parentId}} - {{modalHeader}}</h4>
    <button class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>    
  </div>  
  <form style="padding: 1px 20px 1px 20px" #f="ngForm" (ngSubmit)="submit()" novalidate>
    <div class="modal-body">          
      <div class="form-group"> 
        <label for="permissionParent">Permissão raiz</label>
        <input id="permissionParent" class="form-control" name="permissionParent" disabled="true" type="text" [(ngModel)]="permissionParent">
        </div>  
        <div class="form-group">
            <label for="nome">Nome</label>
            <input id="nome" class="form-control" name="nome" type="text" [(ngModel)]="permission.nome" required placeholder="Preencha...">
        </div>
        <div class="form-group">
            <label for="description">Descrição</label>
            <input id="description" class="form-control" name="description" type="text" [(ngModel)]="permission.description" placeholder="Preencha...">
        </div>
        <div class="form-group">
            <label for="path">Caminho</label>
            <input id="path" class="form-control" name="path" type="text" [(ngModel)]="permission.path" required placeholder="Preencha...">
        </div>   
        <div class="form-group">
          <label for="calend">Data de Criação</label>  
          <div id="calend">
            <p-calendar id="creationDate" name="creationDate" [(ngModel)]="permission.creationDate" [locale]="ptbr" placeholder="Selecione..." dateFormat="dd.mm.yy" [showIcon]="true"></p-calendar>
          </div>  
            <!-- <input id="creationDate" class="form-control" name="creationDate" type="text" [(ngModel)]="permission.creationDate" placeholder="Preencha..."> -->
        </div>
          
        <div class="form-group">
            <label for="status">Status</label>
            <div id="status" name="status">
              <label for="active">
                <input type="radio" name="active" id="active" [value]="true"  [(ngModel)]="permission.active"> Ativado
              </label>
              <label for="naoAtivo">
                <input type="radio" name="active" id="naoAtivo" [value]="false" [(ngModel)]="permission.active"> Desativado
              </label>     
            </div>
        </div>              
    </div>  
    <div class="modal-footer" style="border-top: ridge"  >
        <button class="btn btn-primary confirm-btn" [disabled]="!f.valid">Salvar</button>
    </div>
  </form >
</div>  
